body{
    margin: 0;  
    text-align: center; 
    font-family: 'Merriweather', serif;
    font-size: 200%;
    color:#40514E;
}

h1{
    color:#66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0px auto;
    
}
.coder{
    font-family: monospace;
    font-size: 2rem;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color:#66bfbf;
    font-weight: normal;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    font-size: 1.6rem;
    
}
p{
    
    font-size:1rem;
    line-height: 2;
}

.top-container{

    background-color: #E4F9F5;
    padding-top: 150px;
    position: relative;

} 
.middle-container{
  margin: 100px;

}
.bottom-container{
    background-color: #66BFBF;
    margin-top: 100px;
    padding:50px 0 20px;

}
.myphoto{
    width: 180px;
    height: 180px;
}
.introd{
    margin-bottom: 40px;
    width:30%;
    margin: auto;
    
}
.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}
.skills-row{
    width:50%;
    margin:100px auto 100px auto;
    text-align: left;
    

}
hr{  
    border: dotted #88e7e7 6px;
    border-bottom: none;
    width: 4%;
    margin:100px auto;
}

a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif; 
    margin:10px 15px;
    font-size: 1.2rem;
    text-decoration: none;
    
}
a:hover{
    color:#eaf6f6
}

.bottom-cloud{
    position: absolute;
    left: 250px;
    top: 400px;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
    
}
.code-img{
    width:25%;
    float: left;
    margin-right: 30px;
}
.photography-img{
    width:25%;
    float:right;
    margin-right: 30px;
}
.copyright{
    color:#eaf6f6;
    font-size:0.75rem; 
    margin-bottom: -10px;
}

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999B);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999B);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999B);
    background-image: -o-linear-gradient(top, #11CDD4, #11999B);
    background-image: linear-gradient(to bottom, #11CDD4, #11999B);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    text-decoration: none;
  }